
.aui-moving {
	-webkit-user-select: none;
}
.aui-dialog {
	display: inline-block;

	border: 1px solid black;
}

.aui-dialog.aui-dialog-icon-mode {
    width: 24px;
}

.aui-dialog.aui-dialog-icon-mode .aui-dialog-title {
    padding: 0px;
    border-bottom: none;
}

.aui-dialog-title {
	-webkit-user-select: none;
	color: white;
	background: black;
	font-weight: bold;
	text-align: center;
	padding: 4px;

	border-bottom: 1px solid silver;
	cursor: move;
    position: relative;
}

.aui-dialog-content {
	background: white;
    width: 640px;
    height: 480px;
    resize: both;
    overflow: auto;
}

.aui-dialog-icon {
    width: 24px;
    height: 24px;
    top: 0px;
    left: 0px;
    position: relative;
    display: inline-block;
    background: inherit;
}